.main-header {
    background: #083358;
    color: #fc3c3c;
    margin-bottom: 50px;
}

.main-header-title {
    font-size: 30px;
    font-weight: 500;
    padding: 10px 0;
    text-align: center;
}

.main-header-buttons-group {
    padding: 10px 0;
}
.main-header-button {
    margin: 0 5px;
}

.sub-title {
    font-size: 20px;
    font-weight: 400;
    color: #083358;
}

.total-price-title {
    font-size: 30px;
    font-weight: 400;
    color: #083358;  
}

.make-deal-button {
    font-size: 20px;
    width: 100%;
    height: 40px;
}


@media (max-width: 991px) {
    .main-header-buttons-group {
        text-align: center;
    }
}