.main-header {
    background: #083358;
    color: #fc3c3c;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
    padding: 10px 0;
}

.sub-title {
    font-size: 20px;
    font-weight: 400;
    color: #083358;
}

.total-price-title {
    font-size: 30px;
    font-weight: 400;
    color: #083358;  
}

.make-deal-button {
    font-size: 20px;
    width: 100%;
    height: 40px;
}